
declare module '{{formatNameSpaceToModule name}}' {

  /**
    * {{{formatDescription description}}}
    * @see [document](https://openui5.hana.ondemand.com/#/api/{{{name}}})
    */
  type {{formatBaseName basename}} = {{{formatModuleName ui5-metadata.basetype}}}
  
  export default {{formatBaseName basename}}

}
