declare module '{{formatNameSpaceToModule name}}'{
  /**
    * {{{formatDescription description}}}
    {{#if href}}* @see [document](https://openui5.hana.ondemand.com/{{href}}{{/if}})
    {{#if since}}* @since {{since}}{{/if}}
    */
  export default function {{{formatStandaloneFunctionName name}}}(...any: any[]) : any;
}